html{
    scroll-behavior: smooth;
}
body{

    background:rgb(222, 215, 228);
}
#container{
    display: grid;
    grid-template-areas: 
    "he na"
    "de de"
    "co co"
    "so so"
    "pr pr"
    "ly ly"
    "ft ft"
    ;
    grid-template-rows: 1fr 4fr 5fr 4fr 5fr 6fr 0.5fr;
    grid-template-columns:6fr 1fr;
    height: 500vh;
    width: 50vw;
    margin-left: 22vw;
}
header{
    grid-area: he;
    display:flex;
}
nav{
    display: none;
}
.navDt{
    grid-area: na;
    display: flex;
    justify-content: space-around;
}
.navDt>a{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}
.desc{
    grid-area: de;
}
.concerts{
    grid-area: co;
    display:grid;
    grid-template-areas: 
    "a1 a2"
    "a3 a4";
    gap:30px;
}
.concerts>.a1{
    grid-area: a1;
    background:whitesmoke;
    text-decoration: none;
    color: black;
}
.concerts>.a2{
    grid-area: a2;
    background:whitesmoke;
    text-decoration: none;
    color: black;
}
.concerts>.a3{
    grid-area: a3;
    background:whitesmoke;
    text-decoration: none;
    color: black;
}
.concerts>.a4{
    grid-area: a4;
    background:whitesmoke;
    text-decoration: none;
    color: black;
}
.socMedia{
    grid-area: so;
    display:flex;
    flex-direction: column;
}
.socMedia>article{
    background:whitesmoke;
    height:20vh;
    margin-top:30px;
    display:flex;
}
.socLink{
    margin-top:auto;
    margin-bottom:auto;
    margin-left:40px;
    text-decoration: none;
    color:black;
    margin:auto;
}
.projects{
    grid-area: pr;
    display:grid;
    grid-template-areas: 
    "a1 a2";
    gap: 30px;
    margin-top: 30px;
}
.proj1{
    display:flex;
    flex-direction: column;
    grid-area: a1;
    background: whitesmoke;
    padding: 20px;
}
.proj2{
    flex-direction: column;
    display:flex;
    grid-area: a2;
    background: whitesmoke;
    padding: 20px;
}
.lyrics{
    margin-top: 30px;
    grid-area: ly;
    display: grid;
    grid-template-areas: 
    "h"
    "a1";
    grid-template-rows: 0.5fr 2fr 2fr 2fr;
    grid-template-columns: 1fr;
    gap: 30px;
}
.odinLyrics{
    grid-area: a1;
    background: whitesmoke;
    display: flex;
    text-decoration: none;
    color:black;
}
.odinLyrics>h3{
    margin:auto;
}
.lyricContainer{
    display: grid;
    grid-template-areas: 
    "he"
    "img"
    "ma"
    "ft";
    grid-template-rows: 1fr 1fr 4fr 1fr;
    width: 50vw;
    height: 125vh;
    gap:9px;
    margin:auto;
}
.lyricContainer>h1{
    grid-area:he;
    margin:auto; 
}
.lyricContainer>main{
    grid-area: ma;
    background:whitesmoke;
    padding: 20px;
    border-radius: 2em;
}
.lyricContainer>a{
    grid-area: ft;
    display: flex;
}
.lyricContainer>.lyricCovers{
    grid-area: img;
    width: 20vw;
    height:20vw;
}



.logo{
    width: 20vw;
    margin:auto;
}
.albumcovers{
    width: 15vw;
}
.lyricCovers{
    width:6vw;
    height:6vw;
    margin:auto;
}
.navButton{
    display:none;
}
.backButton{
    margin:auto;
    width: 10vw;
}
.socMediaLogo{
    width: 8vw;
    height:8vw;
    margin: auto;
}
.socMediaLogo2{
    width: 10vw;
    height:8vw;
    margin: auto;
}



h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}
.descText{
    margin: 24px;
}
.storyHeader{
    text-align:center;
}
.eventText{
    font-size: 7em;
    margin:7px;
    font-family: 'Times New Roman', Times, serif;
}
.lyrics>h2{
    grid-area: h;
    margin: auto;
}


.onscroll{
    transform: scale(0.5);
}
.onscroll.animation{
    transform: scale(1);
    transition: transform 0.25s 0s ease-in;
}


@media only screen and (max-width: 600px){

body{
    margin: 9px;
}
#container{
    grid-template-areas: 
    "he he"
    "de de"
    "co co"
    "so so"
    "pr pr"
    "ly ly"
    "ft ft"
    ;
    margin-left: 0;
    margin-right: 0;
    width:96vw;
    grid-template-rows: 1fr 2fr 4fr 4fr 5fr 5fr 0.5fr;
    gap: 20px;
}
header{
    background:none;
}
nav{
    position: fixed;
    display:flex;
    flex-direction: column;
    top:16%;
    right: -29vw;
    background:rgb(155, 175, 172);
    border-radius: 1em;
    height:30vh;
    width: 30vw;
    transition: right .2s 0s ease-out; 
    box-shadow: -5px 9px 17px -1px rgba(0,0,0,0.56);
}
.navDt{
    display: none;
}
nav.show{
    right:4px;
    transition: right .2s 0s ease-out; 
}
nav>a{
    margin: auto;
    text-decoration: none;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
.navButton{
    position:fixed;
    width: 14vw;
    right:7vw;
    top:7vw;
    transform: rotate(0deg);
    transition: transform .5s 0s ease;
    display:flex;
}
.navButton.flip{
    transform: rotate(180deg);
    transition: transform .5s 0s ease;
}
.concerts{
    grid-area: co;
    display:grid;
    grid-template-areas: 
    "a1 a2"
    "a3 a4";
    gap:9px;
}
.socMedia>article{
    background:whitesmoke;
    height:20vh;
    margin-top:9px;
    display:flex;
}
.socLink{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:9px;
    text-decoration: none;
    color:black;
    margin: auto;
}
.projects{
    grid-area: pr;
    display:grid;
    grid-template-areas: 
    "a1 a2";
    gap: 9px;
    margin-top: 9px;
}
.proj1{
    display:flex;
    flex-direction: column;
    grid-area: a1;
    background: whitesmoke;
    padding: 9px;
}
.proj2{
    flex-direction: column;
    display:flex;
    grid-area: a2;
    background: whitesmoke;
    padding: 9px;
}
.lyrics{
    margin-top: 9px;
    grid-area: ly;
    display: grid;
    grid-template-areas: 
    "h"
    "a1";
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr;
    gap: 9px;
}
.lyricContainer{
    width: 96vw;
    gap:9px;
}
.lyricContainer>main{
    padding: 9px;
    border-radius: 1em;
}
footer{
    grid-area: ft;
}



h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
.eventText{
    font-size: 2em;
    margin:7px;
    font-family: 'Times New Roman', Times, serif;
}


.logo{
    width: 40vw;
    margin:auto;
}
.albumcovers{
    width: 30vw;
}
.socMediaLogo{
    width: 14vw;
    height:14vw;
    margin: auto;
}
.socMediaLogo2{
    width: 18vw;
    height:14vw;
    margin: auto;
}
.lyricCovers{
    width:30vw;
    height:30vw;
    margin:auto;
}
.backButton{
    width: 20vw;
}


.onscroll{
    opacity: 0;  
}
.onscroll.animation{
    opacity: 1;
    transition: opacity .25s .17s ease-in;
}
}


